# This file tracks properties of this Flutter project.
# Used by Flutter tool to assess capabilities and perform upgrades for
# the project.

# The following line should be avoided because it may break the build if
# imported by users and then the project is modified by external tools.
# pubspec.yaml is used by pub to track package versions and dependencies.
